@page
@using global::MyApartment.Core.Model
@model ExpenseListModel
@{
}

<h1>Expenses</h1>

<form  method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"  asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>
<table class="table">
    @foreach (var e in @Model.Expenses)
    {
    <tr>
        <td>@e.ExpenseType</td>
        <td>@e.ExpenseAmount</td>
        <td>@e.ExpenseDescription</td>
        <td>@e.Payee</td>
        <td>
            <a class="btn btn-lg" asp-page="./ExpenseDetails" asp-route-expenseId="@e.ExpenseId">
                <i class="glyphicon glyphicon-zoom-in" />

            </a>
            <a class="btn btn-lg" asp-page="./EditExpense" asp-route-expenseId="@e.ExpenseId">
                <i class="glyphicon glyphicon-edit" />
            </a>
        </td>
    </tr>
    }
</table>

<a asp-page="./AddExpense" class="btn btn-primary">Add New</a>

@section footer
{
    <div>@Model.Message</div>
}
